body {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

p {
  color: #8f8f8f;
}

/* Containers */
.container-fluid {
  padding: 5% 15%;
}

/* Sections */
.coloured-section {
  background-color: #666666;
  color: #fff;
}

.white-section {
  background-color: #fff;
  color: #AEB44D;
}



/* Headings */
.big-heading {
  font-family: "Roboto", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;

}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 300;
}

/* Download Buttons */
.cta-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */
#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

/* Tittle Image */
.title-image {
  width: 80%;
  position: relative;
  bottom: 1%;
  right: -15%;

}

/* Features */
#features {
  position: relative;
}

.feature-style {
  font-size: 1.5rem;
}

.feature {
  padding: 4.5%;
}

.icon {
  margin-bottom: 1rem;
  color: #AEB44D;
}

.icon:hover {
  color: #549B43;
}

/* Examples */
#examples {

  background-color: #AEB44D;
}

.examples-text {
  line-height: 1.5;
  font-size: 2.8rem;
}

.examples-image {
  width: 50%;
  margin: 20px;
}



/* Pricing */
#pricing {

  padding: 100px;
}

.price-text {
  line-height: 1.5;
  font-size: 3rem;
}

.pricing-column {
  padding: 3% 2%;
}

/* Call to Action */
.social-media {
  margin: 20px 10px;
}

/* Responsiveness */

@media (max-width: 1028px) {
  .title-image {
    width: 60%;
  }

  #title {
    text-align: center;
  }

}

@media (max-width: 600px) {
  .examples-image {
    width: 100%;
  }
}
